<p-growl [(value)]="msgs"></p-growl>
<!-- <div style="padding-left:10px;">
  <img src="./assets/images/FI-Logo.png" style="dispaly:inline-block;vertical-align:bottom;">
  <h1 style="margin:0px 10px;display:inline-block;vertical-align:top;font-size:31px;color:rgba(7, 90, 151, 1);padding:12px 0px;">- Angular Demo v1.0</h1>
</div> -->
<p-menubar #menu [model]="items" id="MainMenu">
  <button *ngIf="!authService.isLoggedIn" pButton label="Login" icon="fa-sign-in" (click)="login()"></button>
  <button *ngIf="authService.isLoggedIn" pButton label="Logout" icon="fa-sign-out" (click)="logout()"></button>
  <!-- <a *ngIf="!authService.isLoggedIn" routerLink="/login" style="color:blue;">Login</a>
  <a *ngIf="authService.isLoggedIn" (click)="logout()" style="color:blue;text-decoration:underline;cursor:pointer;">Logout</a> -->
  <!-- <a *ngIf="authService.isLoggedIn" routerLink="/login">Logout</a> -->
</p-menubar>
<router-outlet></router-outlet>
<!-- <div id="cookieLawDiv" style="position:fixed;width:100%;left:0;bottom:0;min-height:40px;background:grey;">
  <div id="result"></div>
  <p>Cookie Law Infor</p>
  <button (click)="cookieCheck()" type="button">Click me!</button>
</div> -->
