<div>
  <div style="width:70%;display:inline-block;">
    <p-chart type="line" [data]="lineData"></p-chart>
  </div>
  <div style="width:calc(30% - 15px); min-width:200px; display:inline-block;vertical-align:top; padding: 30px 0px;">
    <table class="dashboard-stats" style="margin:0 auto; text-align:center;">
      <tr>
        <td>
          <h3>Repeat Customers</h3>
          <h2>267</h2>
          <h5># of ESS</h5>
        </td>
      </tr>
      <tr>
        <td>
          <h3>Upgrades</h3>
          <h2>135</h2>
          <h5># of ESS</h5>
        </td>
      </tr>
    </table>
  </div>
</div>
