.divSpacer{
  height:10px;
}
.divSmallSpacer{
  height:5px;
}

.d3-chart {
  width: 100%;
  height: 400px;
}

.d3-chart .axis path,
.d3-chart .axis line {
  stroke: #999;
}

.d3-chart .axis text {
  fill: #999;
}

body {
  font: 12px sans-serif;
}

path {
  stroke-width: 1px;
  stroke: black;
  fill: white;
  cursor: pointer;
}

/*path:hover, path.highlighted {
  fill: tomato;
}*/

svg.chart-content{
    /*position: absolute;
    top: 0;
    left: 0;*/
}

.tooltip {
  position: absolute;
  display:inline-block;
  text-align: left;
  padding: 5px;
  font: 12px Century Gothic, sans-serif;
  color:white;
  background: grey;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.charHistoricalCharts > div > div.tooltip {
    font-size: .8em;
}
@media screen and (max-height: 680px) {
    .charHistoricalCharts > div > div.tooltip {
        font-size: 10px;
    }
}
.home-chart-container {
    width: 100%;
    height: 0;
    /*padding-top: 38%;*/
    position: relative;
}

.input-data{
  margin: 5px 0px;
}
.input-data>span{
  display: inline-block;
  width: 40%;
  border-bottom: 1px dotted black;
}
.input-data>input{
  display: inline-block;
  width: calc(60% - 5px);
}
.ui-datatable-data td{
  text-align:center;
}

.dashboard-stats{
  border:1px solid black;
  border-collapse: collapse;
  /*border-radius: 10px;*/
}

.dashboard-stats td{
  padding:20px 10px;
  border:1px solid black;
  border-collapse: collapse;
  /*border-radius: 10px;*/
  min-width:220px;
  max-width: 250px;
}

.dashboard-stats h3{
  font-size: 32px;
  margin: 5px 0px;
  text-align: center;
}
.dashboard-stats h2{
  font-size: 56px;
  margin: 5px 0px;
  text-align: center;
}
.dashboard-stats h5{
  font-size: 24px;
  margin: 5px 0px;
  text-align: right;
}

.dashboard-cell:hover{
  background-color: lightblue;
  cursor: pointer;
}

.dashboard-detail-filters{
  padding:0px 10px;
}
.dashboard-detail-filters>div{
  display:inline-block;
  vertical-align: top;
  padding:0px 5px;
}
.dashboard-detail-filters>div>h3{
  margin:0px 0px 5px 0px;
}

.back-icon{
  display: inline-block;
}
.back-icon:hover{
  cursor: pointer;
  color:blue;
}

.information-paragraph{
  padding:0px 10px;
  margin: 2px 0px;
}

.home-chart-container .axis path,.home-chart-container  .axis tick,.home-chart-container  .axis line {
        fill: none;
        stroke: none;
    }

.date-range-div{

}
.date-range-div>div{
  display:inline-block;
}
.date-range-div h3{
  margin:5px 0px 0px 0px;
}

.center-boarder-table{
  text-align: left;
  /*margin:0 auto;*/
}
.center-boarder-table,.center-boarder-table th, .center-boarder-table td{
  border:1px solid black;
  border-collapse: collapse;
}

.center-boarder-table td, .center-boarder-table th{
  padding: 2.5px 5px;
  text-align: center;
}

.data-tab-div{
  position:relative;
}
.data-tab-div>button{
  position: absolute;
  top:2.5px;
  right:2.5px;
}
.data-tab-div>h3{
  margin:0px 0px 10px 0px;
}
