<div class="divSpacer"></div>
<h2>Welcome</h2>
<!-- <h2 (mouseover)="mouseOver()" (mouseout)="mouseOut()">Welcome</h2> -->
<div style="font-size:16px;">
  <img src="../assets/images/zambia_slider.jpg" style="width:200px;display:inline-block;">
  <p style="width:calc(80% - 205px);display:inline-block;vertical-align:top;">
    Beyond the Grid Fund for Zambia (BGFZ) is a Sida-funded initiative for renewable energy investments outside the national power grid in Zambia.
    BGFZ is designed accelerate market access and development, promoting the development of energy services targeted to energy-poor consumers.
    The overall goal of the BGFZ is to facilitate the access to modern energy of at least one million Zambians.
  </p>
</div>
<div style="text-align:right;font-size:16px;">
  <p style="width:calc(80% - 405px);display:inline-block;vertical-align:top;">
    EDISON collects data from Energy Service Providers in Zambia to provide visailibty into the BFGZ program. EDISON provides a number of dashboards to allow users to interact with the data
    and visualize the progress of providing energy to Zambia.
  </p>
  <img src="../assets/images/solar-panels.jpg" style="width:400px;display:inline-block;">
</div>
